* {
  box-sizing: border-box;
}

body {
  min-width: 960px;
  padding: 0px;
  margin: 0px;
}

body > * {
  min-height: 100px;
  padding: 20px 200px;
}

.header {
  background: #1F2937;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.header h3 {
  margin-right: auto;
}

.hero {
  background: #1F2937;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image {
  background: #999999;
  min-width: 500px;
  height: 250px;
}

.info {
  background: #FFFFFF;
}

.info-cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials {
  background: #E5E7EB;
  display: flex;
  justify-content: center;
  align-items: center;
}

.call-to-action {
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-banner {
  background: #3882F6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 120px;
}

.footer {
  background: #1F2937;
  display: flex;
  justify-content: center;
  align-items: center;
}